* {
  background-color: hsl(222, 26%, 31%);
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
}

.lightbutton-theme1 {
  background-color: hsl(45, 7%, 89%);
  color: hsl(198, 20%, 13%);
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 0 hsl(28, 16%, 65%);
}

.bluebutton-theme1 {
  background-color: hsl(225, 21%, 49%);
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 0 hsl(224, 28%, 35%);
}

.redbutton-theme1 {
  background-color: hsl(6, 63%, 50%);
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 0 hsl(6, 70%, 34%);
}

.calculator {
}

.keys-container {
  background-color: hsl(223, 31%, 20%);
  padding: 20px;
  height: 350px;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 1.7rem 1.7rem 1.7rem 1.7rem;
}

.key-reset {
  grid-column: 1 / span 2;
}

.key-equals {
  grid-column: 3 / span 2;
}

.attribution {
  position: fixed;
  bottom: 0;
  color: #fff;
}

.calc-console {
  background-color: hsl(224, 36%, 15%);
  border: none;
  border-radius: 10px;
  height: 100px;
  position: fixed;
  width: 400px;
  top: 100px;
  left: 515px;
  color: hsl(0, 0%, 100%);
}

/* .tri-state-toggle {
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50px;
  width: 60px;
}
#theme1 {
  opacity: 1;
} */
