* {
  background-color: hsl(222, 26%, 31%);
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

h1 {
  color: hsl(0, 0%, 100%);
  font: 2rem;
}

.lightbutton-theme1 {
  width: 70px;
  height: 50px;
  background-color: hsl(45, 7%, 89%);
  color: hsl(198, 20%, 13%);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
}

.keys-container {
  background-color: hsl(223, 31%, 20%);
  padding: 20px;
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  height: 350px;
  border-radius: 10px;
  margin-top: 150px;
  display: grid;
  grid-template-areas:
    "key-7 key-8 key-9 key-delete" "key-4 key-5 key-6 key-add"
    "key-1 key-2 key-3 key-subtract" "key-dot key-0 key-divide key-multiply";
  grid-gap: 5px;
}

.key-1 {
  grid-area: key-1;
}

.key-2 {
  grid-area: key-2;
}
.key-3 {
  grid-area: key-3;
}
.key-4 {
  grid-area: key-4;
}
.key-5 {
  grid-area: key-5;
}
.key-6 {
  grid-area: key-6;
}
.key-7 {
  grid-area: key-7;
}
.key-8 {
  grid-area: key-8;
}
.key-9 {
  grid-area: key-9;
}
.key-0 {
  grid-area: key-0;
}

.key-delete {
  grid-area: key-delete;
}

.key-add {
  grid-area: key-add;
}

.key-subtract {
  grid-area: key-subtract;
}

.key-dot {
  grid-area: key-dot;
}

.key-multiply {
  grid-area: key-multiply;
}

.key-divide {
  grid-area: key-divide;
}

.attribution {
  position: fixed;
  bottom: 0;
  color: #fff;
}
